body {
    background: url('../images/school.png') #eee;
/*    padding: 0 25px;*/
    color: #222;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

#main {
/*    width: 500px;
    margin: auto;*/
   /* background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;*/
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

#chats {
/*  height: 600px;
  overflow-y: auto;*/
}


form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

/***************
Input Fields
****************/
input, textarea {
  display: block;
  margin: 0.5em 0;
  padding: 0.5em;
  width: 200px;
  font-size: 0.8em;
  border: 1px solid #fff9e6;
  border-radius: 4px;
}

.button {
  padding: 0.5em;
  width: 200px;
  background: #7DE5DD;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-shadow: -1px -1px 1px #6cbdb3;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #6cbdb3;
}

/***************
Message Styling
****************/
.message {
  padding: 0.5em 1em;
}

.message:nth-child(odd) {
  background: #fff9e6;
  background: rgba(255, 249, 232, 0.5);
}

.username {
  font-size: 0.8em;
}

.text {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0.5em 0;
}
